<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <link rel="stylesheet" href="/css/form.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
   <title>Weather To Do</title>
  </head>
  <body>

    <div class="container">
      <div class="update-thing">
        <h1>Update Activity</h1>
          <form action="/things/<%=thing.id%>?_method=PUT" method="POST">
              <select id="weather" name="weather">
                <option value="<%=thing.weather%>"><%=thing.weather%></option>
                <option value="Sunny">Sunny</option>
                <option value="Rainy">Rainy</option>
                <option value="Hot">Hot</option>
                <option value="Cold">Cold</option>
                <option value="Snowy">Snowy</option>
              </select><br></br>
            <input type="text" id="name" name="name" value="<%=thing.name%>"><br></br>
            <textarea name="description" value="<%=thing.description%>" id="description"><%=thing.description%></textarea><br></br>
            <input type="text" id=image name="image" value="<%=thing.img%>"><br></br>

            <br/>

          <input type="submit">
      </div>
    </div>
  </body>
</html>
