<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/form.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title></title>
  </head>
  <body>

    <div class="container">
      <div class="sidebar"></div>
      <div class="update-thing">
        <h1>Update Thing</h1>
          <form action="/things/<%=thing.id%>?_method=PUT" method="POST">
            <label for="name">Thing Name</label>
            <input type="text" id="name" name="name" value="<%=thing.name%>"><br/>
            <label for="description">Description</label>
            <input type="text" id="description" name="description" value="<%=thing.description%>"><br/>
            <label for="image">Enter Image URL</label>
            <input type="text" id=image name="image" value="<%=thing.img%>"><br/>
            <label for="weather">Weather</label>
            <input type="text" id="weather" name="weather" value="<%=thing.weather%>"><br/>

          <input type="submit">
        </div>
      </div>
    </div>
  </body>
</html>
